<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  </head>
  <body>
    <div class="container">
      <h1>Recuperar Contraseña</h1>
      <form method="POST">
        <p>
          <label for="usuario">Introduce tu Nombre de Usuario o Email registrado:</label>
          <input type="text" id="usuario" name="usuario" required />
        </p>
        <button type="submit"  class="btn btn-primary">Enviar enlace de recuperación</button>
        <br /><br />
        <a href="/login">Volver a Iniciar Sesión</a>
      </form>
    </div>
  </body>
</html>
