<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <style>
      .toggle-password {
        cursor: pointer;
        margin-left: -30px;
        position: relative;
        z-index: 2;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Establece tu Nueva Contraseña</h1>
      <form method="POST">
        <input type="hidden" name="token" value="{{ token }}" />
        <p>
          <label for="password">Nueva Contraseña:</label>
          <input type="password" id="password" name="password" required />
          <span class="toggle-password" onclick="togglePassword('password')">&#128065;</span>
        </p>
        <button type="submit"  class="btn">Actualizar Contraseña</button>
        <br /><br />
        <a href="/login">Volver a Iniciar Sesión</a>
      </form>
    </div>
    <script>
      function togglePassword(id) {
        var input = document.getElementById(id);
        input.type = input.type === 'password' ? 'text' : 'password';
      }
    </script>
  </body>
</html>
